<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="Home_page.css">
    <link rel="stylesheet" href="Home_responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
        integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='Home_page.css')}}" >
    <link rel="stylesheet" href="{{ url_for('static',filename='responsive.css')}}" >

</head>

<body>
    <div class="main">
        <img id="logo" style="display: inline ;" src="{{ url_for('static',filename='logo.png')}}" alt="Logo">
        <div class="nav">
            <button id="btnlogin"><a style="color: rgb(218, 174, 174);" href="{{url_for('login')}}">LOGIN</a></button>
            <button id="btnsignup"><a href="{{url_for('signup')}}">SIGN UP </a><i style="color: white; margin-left: 4%;"
                    class="fa-solid fa-arrow-right"></i></button>
        </div>

        <div class="sub">
            <h1>Welcome to! <br> library management system.</h1>
            <h4>If you’d like to go ahead and set up an account with <br> FREE NOW.</h4> <br> <br>
            <button id="btnsignuptwo"><a href="{{url_for('signup')}}">GET STARTED </a><i style="color: white; margin-left: 4%;" class="fa-solid fa-arrow-right"></i></button>
        </div>

        <div class="circle">
            <img src="{{ url_for('static',filename='book-one.png')}}" alt="Image">
        </div>
    </div>

    <script type="text/javascript" src="../Front_End/all_page/mainjs/main.js"></script>
</body>

</html>