<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
   <meta charset="utf-8">
   <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <title>Manage Categories</title>
   <meta name="robots" content="noindex, nofollow">
   <meta content="" name="description">
   <meta content="" name="keywords">
   <link href="static/book-solid.svg" rel="icon">
   <link href="stacit/book-solid.svg" rel="apple-touch-icon">
   <link href="https://fonts.gstatic.com" rel="preconnect">
   <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
      integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
      integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">

   <link href="{{ url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">
   <link href="{{ url_for('static',filename='boxicons.min.css')}}"  rel="stylesheet">
   <link href="{{ url_for('static',filename='quill.snow.css')}}"  rel="stylesheet">
   <link href="{{ url_for('static',filename='quill.bubble.css')}}"   rel="stylesheet">
   <link href="{{ url_for('static',filename='remixicon.css')}}"  rel="stylesheet">
   <link href="{{ url_for('static',filename='simple-datatables.css')}}"   rel="stylesheet">
   <link href="{{ url_for('static',filename='style.css')}}"  rel="stylesheet">

</head>

<body>
   {% include "header.html" %}
   <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
         <li class="nav-item"> <a class="nav-link "  href="{{ url_for('index_l')}}"> <i class="bi bi-grid"></i> <span>Dashboard</span>
            </a></li>

         <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i
                  class="bi bi-menu-button-wide"></i><span> Categories </span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
               <li> <a  href="{{ url_for('add_cata')}}"> <i class="bi bi-circle"></i><span> Add Category</span> </a></li>
               <li> <a  href="{{ url_for('mange_cata')}}"> <i class="bi bi-circle"></i><span>Manage Category</span> </a></li>
            </ul>
         </li>

         <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#"> <i
                  class="bi bi-layout-text-window-reverse"></i><span>Books</span><i
                  class="bi bi-chevron-down ms-auto"></i> </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
               <li> <a  href="{{ url_for('add_book')}}"> <i class="bi bi-circle"></i><span>Add Book</span> </a></li>
               <li> <a href="{{ url_for('mange_book')}}"> <i class="bi bi-circle"></i><span>Manage Books</span> </a></li>
            </ul>
         </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
               <i class="bi bi-journal-text"></i><span>issue</span>
               <i class="bi bi-chevron-down ms-auto"></i> </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
               <li> <a href="{{ url_for('addiss')}}"> <i class="bi bi-circle"></i><span>Add issue Book</span> </a></li>
               <li> <a href="{{ url_for('iss_book')}}"> <i class="bi bi-circle"></i><span>Manage issue Books</span> </a></li>
               <li> <a href="{{ url_for('Request')}}"> <i class="bi bi-circle"></i><span>Request</span> </a></li>
               <li> <a href="{{ url_for('warning')}}"> <i class="bi bi-circle"></i><span>warning</span> </a></li>
               <li> <a href="{{ url_for('received')}}"> <i class="bi bi-circle"></i><span>Received Book</span> </a></li>
               <li> <a href="{{ url_for('history')}}"> <i class="bi bi-circle"></i><span>History of issue books</span> </a></li>
            </ul>
         </li>

         <li class="nav-heading">Pages</li>
         <li class="nav-item"> <a class="nav-link collapsed" href="{{ url_for('user_profile')}}"> <i class="bi bi-person"></i>
               <span>Profile</span> </a></li>
         <li class="nav-item"> <a class="nav-link collapsed" href="{{ url_for('signup')}}"> <i class="bi bi-card-list"></i> <span>Reg
                  Students</span> </a></li>
      </ul>
   </aside>
   <main id="main" class="main">
      <div class="pagetitle">
         <h1>Add Categories</h1>
         <nav>
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="{{ url_for('index_l')}}">Home</a></li>
               <li class="breadcrumb-item active"> Categories</li>
               <li class="breadcrumb-item active"> Manage Category</li>
            </ol>
         </nav>
      </div>
      <section class="section dashboard">
         <div class="row">
            <div class="col-12">
               <div class="card recent-sales overflow-auto">
                  <div class="card-body">
                     <h5 class="card-title">Categories List</h5>

                     <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                           <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Category</th>
                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                        {% set count = namespace(value=1) %}
                        {%for catgory in catgorys %}

                           <td>{{ count.value }}</td>


                           {% set count.value = count.value + 1 %}

                           <td><a  class="text-primary">{{catgory[0]}} </a> {% set num =catgory[0] %}</td>

                           {%if catgory[1]=="Active"%}
                           <td><span class="badge bg-success">{{catgory[1]}}</span></td>
                           {%endif%}
                           {%if catgory[1]=="Inactive"%}
                           <td><span class="badge bg-warning">{{catgory[1]}}</span></td>

                           {%endif%}

                           <td>
                              <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="modal"
                                 data-bs-target="#exampleModa2{{num}}">
                                    <span><i class="fa-regular fa-pen-to-square"></i></span>
                                    <span>Edit</span>
                              </button>

                              <!-- Modal -->

                              <div class="modal fade" id="exampleModa2{{num}}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                 <div class="modal-dialog">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category{{num}}</h1>

                                       </div>

                                       <div class="modal-body">
                                          <form  action="http://127.0.0.1:8000/edit_category"  method="POST">

                                             <div class="mb-3">
                                                <label class="form-label ">Category Name</label>
                                                <input name="edit_value" class="form-control" value="{{catgory[0]}}" readonly>
                                             </div>
                                             <label class="form-label ">Status</label>
                                             <div class="form-check">
                                                <input class="form-check-input" type="radio" value="Active" name="flexRadioDefault"
                                                   checked>
                                                <label class="form-check-label ">
                                                   Active
                                                </label>
                                             </div>
                                             <div class="form-check">
                                                <input class="form-check-input" type="radio" value="Inactive" name="flexRadioDefault">
                                                <label class="form-check-label">
                                                   Inactive
                                                </label>
                                             </div>
                                              <div class="modal-footer">
                                         <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Close</button>
                                          <button  class="btn btn-primary btn-sm">Save Change</button>
                                        </div>

                                          </form>

                                       </div>

                                    </div>
                                 </div>
                              </div>



                              <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal"
                                 data-bs-target="#exampleModal{{num}}">
                                 <a href="/delete/{{num}}" class="text-white">
                                    <span><i class="fa-solid fa-trash-can"></i></span>
                                    <span >Delete</span> </a>
                              </button>
                              <!-- Modal -->

                              <div class="modal fade" id="exampleModal{{num}}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                 <div class="modal-dialog">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">{{num}} Delete Data</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>
                                       <div class="modal-body">
                                          Are you sure you want to delete?
                                       </div>
                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary btn-sm"
                                             data-bs-dismiss="modal">Close</button>
                                         <a href="/delet"> <button type="button" class="btn btn-primary btn-sm">Delete</button></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>

                           </td>
                           </tr>

                        {%endfor%}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>
   <footer id="footer" class="footer">
      <div class="copyright"> &copy; Copyright <strong><span>LMS</span></strong>. All Rights Reserved</div>
      <div class="credits">Design by <a class="allink" href="https://www.facebook.com/nahidinf" target="_blank">Nahid Hasan</a> & <a class="allink" href="https://www.facebook.com/error.non/" target="_blank">Al Arman Ovi</a></div>
   </footer>
   <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
         class="bi bi-arrow-up-short"></i></a>
   <script src="static/js/apexcharts.min.js"></script>
   <script src="static/js/bootstrap.bundle.min.js"></script>
   <script src="static/js/chart.min.js"></script>
   <script src="static/js/echarts.min.js"></script>
   <script src="static/js/quill.min.js"></script>
   <script src="static/js/simple-datatables.js"></script>
   <script src="static/js/tinymce.min.js"></script>
   <script src="static/js/validate.js"></script>
   <script src="static/js/main.js"></script>

   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
   <script>
      $(document).ready(function () {
         $('#example').DataTable();
      });
   </script>
</body>

</html>